$sp: 667px;
@mixin sp {
    @media (max-width: ($sp)) {
      @content;
    }
  }

  /*---------common-----------*/

p {
    color: rgb(81, 86, 86);
    line-height: 26px;
}
.h2-title {
    color: rgb(81, 86, 86);
    font-size: 32px;
    font-weight: 600;
    margin-top: 90px;
    margin-bottom: 60px;

}
.h3-title {
    color: #5f5f5f;
    font-size: 24px;
    font-weight: 600;
    padding:24px 10px;
}
.desc {
    font-size: 18px;
    margin: 10px auto;
}
.bold {
    font-weight: bold;
}


  /* -------header-nav------------- */

// test
.gaogao-desc {
  margin: auto 0;
  p {
    text-align: left;
  }
}
.gaogao-desc2 {
  margin: auto 0;
  p {
    text-align: left;
  }
}
.gaogao-img {
  border-radius: 2px;
  height: 250px;
  width: auto;
  object-fit: contain;
}
.gaogao-img2 {
  width: 320px;
  height: auto;
}
// test


.header-nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgba(95, 95, 95, 0.7);
  }
  .nav-wrapper {
    width: 1100px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 9fr;
    @include sp {
      width: 100%;
      height: 60px;
      display: block;
      grid-template-columns: none;
      padding-top: 0;
    }
  }
  .header-logo {
    float: left;
    margin: auto;
    @include sp {
      float: none;
      padding: 15px 0 0 20px;
    }
  }
  .header-nav-title {
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
  }
  .header-menu-box {
    margin: auto 0;
    @include sp {
      display: none;
    }
  }
  .header-menu {
    // padding: 0;
    display: flex;
    justify-content: space-around;
    li {
      a{
        text-decoration: none;
        color: #fff;
        &:hover {
          color: orange;
        } 
      }
    }
  }

  /*---------header-----------*/
.header-wrapper {
    position: relative;
    min-height: 800px;
    max-height: 1050px;
    z-index: 0;
    top: 0;
    background-image: url("../image/map/map8.jpg");
    background-size: cover;
    @include sp {
      height: 360px; 
    }
    .h1-title {
        font-size: 62px;
        color: #fff;
        position: absolute;
        top: 240px;
        right: 0;
        left: 0;
        &_sub {
            font-size: 22px;
            &::before {
                content: "\A" ;
                white-space: pre;
            }
        }
    }
    .top-subtitle {
      font-size: 20px;
      color: #fff;
      position: absolute;
      top: 390px;
      right: 0;
      left: 0;
    }
  }

/*---------メリット-----------*/

.appeal-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  @include sp {
    flex-direction: column;
  }
  & img {
    margin-bottom: 15px;
  }
  &_text {
    margin: auto 0;
    padding: 0 30px;
    @include sp {
      padding: 0 10px;
    }
    & p {
      text-align: left;
    }
  }
}

.appeal-box2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: row-reverse;
  @include sp {
    flex-direction: column;
  }
  & img {
    margin-bottom: 15px;
  }
  &_text {
    margin: auto 0;
    padding: 0 30px;
    @include sp {
      padding:0 10px;
    }
    & p {
      text-align: left;
    }
  }
}

.appeal-wrapper1 {
    display: flex;
    justify-content: space-around;

    &_box {
        height:300px;
        width: 300px;

        &_img {
            width: 250px;
        }
        &_title {
            font-size: 18px;
        }
        &_desc {
            font-size: 16px;
            text-align: left;
        }
    }
}
.sub-desc {
    margin-bottom: 40px;
}
.appeal-wrapper2 {
    margin: 20px auto;
    width: 1100px;
    display: flex;
    justify-content: left;

    &_box {
        padding-top:20px; 
        &_desc {
            margin-left: 20px;
            font-size: 18px;
            text-align: left;
        }
    }
}

// 理想的な開発環境
.ideal {
  margin-top: 90px;
  background-image: url("../image/test-bg6.png");
  height: 600px;
  background-size: cover;
  position: relative;
  text-align: left;
  &_box {
    position: absolute;
    top: 40px;
    left: 80px;
    &_subtitle {
      font-size: 24px;
      margin-bottom: 40px;
    }
    &_ul {
      padding: 5px;
      li {
        font-size: 20px;
        padding: 5px;
      }
    }
  }
}
.c-white {
  color: #FFF;
}
/*---------拠点一覧-----------*/
.base-wrapper {
  margin-top: 40px;
  .base-container {
      padding: 20px auto;
      text-align: -webkit-center;
      .district-wrapper {
          width: 300px;
          height: 225px;
          margin: auto 0;
          padding: 0 20px;
          &_country {
              font-size: 20px;
              margin: 10px auto;
          }
          &_desc {
              font-size: 16px;
              text-align: left;
              margin: 10px auto;
          }
          &_url {
              font: bold;
              color: red;
              margin: 10px auto;
          }
      }
      .image-wrapper {
          width: 300px;
          height: 200px;
      }
  }
}

/*---------設備-----------*/
.equipments-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    &_box {
      &_img {
          width: 100px;
          height: 100px;
          object-fit: contain;
      }
      &_title {
          font-size: 18px;
      }
    }
}


/*---------お問い合わせ---------*/
.contact_btn {
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}


/*---------Footer-----------*/
.footer {
    background-color: #2c2c2c;
    height: 160px;
    position: relative;
    margin: auto 0;

    &_container {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        &_copyright {
            color: #fff;
        }
    }
}

#gaogao,
#merit,
#base-list,
#equipments,
#contact {
  margin-top: -80px;
  padding-top: 80px; 
}