// お問い合わせボタン（下部固定）
.contact_fixed {
    display: none;
    @include sp {
        display: block;
      }
    &_btn {
        display: none;
        z-index: 10;
        font-size: 18px;
        text-align: center;
        padding: 7px 20px;
        margin-bottom: 5px;
        border-radius: 25px;
        text-decoration: none;
        color: #FFF;
        background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
        background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
        transition: .4s;
        @include sp {
            display: block;
            position: fixed;
            bottom: 10px; 
            right: 40px;
            left: 40px;
        }
    }
}