/*---------設備-----------*/
.equipments-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    @include sp {
     grid-template-columns: 1fr 1fr; 
    }
      &_box {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        &_img {
            max-width: 100px;
            height: 100px;
            object-fit: contain;
        }
        &_title {
            font-size: 18px;
            @include sp {
              font-size: 16px;
            }
        }
      }
  }