/*---------メリット-----------*/

.merit-desc {
    margin: auto 0;
    p {
      text-align: left;
    }
  }
  .merit-img {
    border-radius: 2px;
    height: 250px;
    width: auto;
    object-fit: contain;
    @include sp {
      padding: 0;
      height: 275px;
    }
  }